

ul li {
    font-size: 15px;
    list-style-type: none;
    display: inline;
}

ul li a {
   text-decoration: none;
   background-color: black; 
   color: white;
   margin: 5px;
   padding: 5px;
}

ul li a:hover {
    margin: 5px;    padding: 5px;
    background-color: white;
    color: black;
    border: 1px solid grey;
}

.card {
    width: 300px;
    height: 150px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: grey;
    box-shadow: 5px 5px 10px rgba(100,0,100, 0.5);
    position: relative;
    top: 40px;
}

.card_one {
    width: 300px;
    height: 150px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: grey;
}

.card_two {
    width: 300px;
    height: 150px;
    color: white;
    padding: 10px;
    background: black;
    position: fixed;
    right: 0;
    z-index: 1;

}

.card_3 {
    width: 300px;
    height: 150px;
    color: white;
    padding: 10px;
    background: green;
    position: sticky;
    top: 0;
}

